* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(127, 93, 160);
    color: white;
}

.location, .temperature{
    flex-direction: row;
    height: 30vh;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 